//-------------------------------------------------------------
//|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
//トップページフッター--------------------------------------------

.aside
  %img{:src => "https://i.gyazo.com/e7f18c1fa8d4c55463f51cf0270e9a90.jpg", :width => "1440"}/

%footer
  %img{:src => "https://i.gyazo.com/7e62ea3a94ea6b2db33748432999ab89.png", :width => "1440"}/