//ーーーーーーーーーー
//プロフィール編集部分
//ーーーーーーーーーー
.profil-box {
  .profil--header {
    font-size: 24px;
    padding: 8px 24px;
    text-align: center;
    background-color: white;
    font-weight: bold;
  }
  .setting-profile-icon {
    background-image: url("/images/mypage_bgi.jpg");
    padding: 72px 16px 24px;
    text-align: center;
    position: relative;
    height: 160px;
    box-sizing: border-box;
    img {
      position: absolute;
      left: 30%;
      border-radius: 50%;
    }
    .input-default {
      position: absolute;
      left: 40%;
      top: 48%;
      width: 220px;
      margin-left: 8px;
      height: 50px;
      padding: 10px 16px 8px;
      border-radius: 5px;
      font-size: 16px;
      box-sizing: border-box;
    }
  }
  .setting-profile-content {
    padding: 40px 16px;
    background-color: white;
    .textarea-default {
      resize: vertical;
      max-height: 840px;
      min-height: 216px;
      width: 100%;
    }
    button {
      display: block;
      margin-top: 16px;
      background-color: #ea352f;
      color: white;
      line-height: 48px;
      width: 100%;
      text-align: center;
      font-style: 16px;
      border: none;
      cursor: pointer;
      outline: none;
      appearance: none;
    }
  }
}