= render 'shared/top_header'
//------------------------------------------------------------
//||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
//スライド-----------------------------------------------------

.body-campaign
  .slick
    %a(href="https://jp-news.mercari.com/2019/11/15/free-campaign2/")
      %img{:src => "https://i.gyazo.com/1ce682e7bf3dd7981de21c9d318130c4.jpg", :width => "1440"}/
    %a(href="https://www.mercari.com/jp/featured/camp/")
      %img{:src => "https://i.gyazo.com/5f02d2c7e47358dbd19ec4a5ee8af672.jpg", :width => "1440"}/
    %a(href="https://apps.apple.com/jp/app/id667861049?l=ja")
      %img{:src => "https://i.gyazo.com/79b3da6d5fac946fbc7cd734066c75c2.jpg", :width => "1440"}/

//------------------------------------------------------------
//||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
//トップページボデぃー ------------------------------------------

.toppage-body
  .toppage-body__heading
    .toppage-body__heading--title
      人気のカテゴリー
    %ul.toppage-body__heading--categores
      %li.toppage-body__heading--category
        %a(href="#")
          レディース
      %li.toppage-body__heading--category
        %a(href="#")
          メンズ
      %li.toppage-body__heading--category
        %a(href="#")
          家電・スマホ・カメラ
      %li.toppage-body__heading--category
        %a(href="#")
          おもちゃ・ホビー・グッズ

  .toppage-body__container
    .toppage-body__container--heading
      レディース新着アイテム
      %a(href="#")
        もっと見る 〉
    %ul.toppage-body__container--items
      %li
        .item-box
          %a(href="#")
            .item-box__img
              %span
                ¥1,000
              %img{:src => "https://static.mercdn.net/item/detail/orig/photos/m68611963058_1.jpg?1574468972", :width => "186"}/
            .item-box__title
              %p ナイキ靴わーいわーいあああああああああああああああああああああ
              .gradient
      %li
        .item-box
          %a(href="#")
            .item-box__img
              %span
                ¥1,000
              %img{:src => "https://static.mercdn.net/item/detail/orig/photos/m64911870317_1.jpg?1574058495", :width => "186"}/
            .item-box__title
              %p ナイキ靴わーいわーいあああああああああああああああああああああ
              .gradient
      %li
        .item-box
          %a(href="#")
            .item-box__img
              %span
                ¥1,000
              %img{:src => "https://static.mercdn.net/item/detail/orig/photos/m67371857333_1.jpg?1564711282", :width => "186"}/
            .item-box__title
              %p ナイキ靴わーいわーいあああああああああああああああああああああ
              .gradient
      %li
        .item-box
          %a(href="#")
            .item-box__img
              %span
                ¥1,000,000,000
              %img{:src => "https://static.mercdn.net/item/detail/orig/photos/m14003959380_1.jpg?1574497153", :width => "186"}/
            .item-box__title
              %p ナイキ靴わーいわーいあああああああああああああああああああああ
              .gradient
      %li
        .item-box
          %a(href="#")
            .item-box__img
              %span
                ¥1,000
              %img{:src => "https://static.mercdn.net/item/detail/orig/photos/m85044937589_1.jpg?1573355769", :width => "186"}/
            .item-box__title
              %p ナイキ靴わーいわーいあああああああああああああああああああああ
              .gradient
      %li
        .item-box
          %a(href="#")
            .item-box__img
              %span
                ¥1,000
              %img{:src => "https://static.mercdn.net/item/detail/orig/photos/m59557378877_1.jpg?1546171455", :width => "186"}/
            .item-box__title
              %p ナイキ靴わーいわーいあああああああああああああああああああああ
              .gradient
      %li
        .item-box
          %a(href="#")
            .item-box__img
              %span
                ¥1,000
              %img{:src => "https://static.mercdn.net/item/detail/orig/photos/m84182968478_1.jpg?1574033959", :width => "186"}/
            .item-box__title
              %p ナイキ靴わーいわーいあああああああああああああああああああああ
              .gradient
      %li
        .item-box
          %a(href="#")
            .item-box__img
              %span
                ¥1,000
              %img{:src => "https://static.mercdn.net/item/detail/orig/photos/m66387185356_1.jpg?1573989081", :width => "186"}/
            .item-box__title
              %p ナイキ靴わーいわーいあああああああああああああああああああああ
              .gradient
      %li
        .item-box
          %a(href="#")
            .item-box__img
              %span
                ¥1,000
              %img{:src => "https://static.mercdn.net/item/detail/orig/photos/m81771534578_1.jpg?1574471888", :width => "186"}/
            .item-box__title
              %p ナイキ靴わーいわーいあああああああああああああああああああああ
              .gradient
      %li
        .item-box
          %a(href="#")
            .item-box__img
              %span
                ¥1,000
              %img{:src => "https://static.mercdn.net/item/detail/orig/photos/m95100573867_1.jpg?1574500243", :width => "186"}/
            .item-box__title
              %p ナイキ靴わーいわーいあああああああああああああああああああああ
              .gradient
  
  .toppage-body__container
    .toppage-body__container--heading
      レディース新着アイテム
      %a(href="#")
        もっと見る 〉
    %ul.toppage-body__container--items
      %li
        .item-box
          %a(href="#")
            .item-box__img
              %span
                ¥1,000
              %img{:src => "https://static.mercdn.net/item/detail/orig/photos/m68611963058_1.jpg?1574468972", :width => "186"}/
            .item-box__title
              %p ナイキ靴わーいわーいあああああああああああああああああああああ
              .gradient
      %li
        .item-box
          %a(href="#")
            .item-box__img
              %span
                ¥1,000
              %img{:src => "https://static.mercdn.net/item/detail/orig/photos/m64911870317_1.jpg?1574058495", :width => "186"}/
            .item-box__title
              %p ナイキ靴わーいわーいあああああああああああああああああああああ
              .gradient
      %li
        .item-box
          %a(href="#")
            .item-box__img
              %span
                ¥1,000
              %img{:src => "https://static.mercdn.net/item/detail/orig/photos/m67371857333_1.jpg?1564711282", :width => "186"}/
            .item-box__title
              %p ナイキ靴わーいわーいあああああああああああああああああああああ
              .gradient
      %li
        .item-box
          %a(href="#")
            .item-box__img
              %span
                ¥1,000
              %img{:src => "https://static.mercdn.net/item/detail/orig/photos/m14003959380_1.jpg?1574497153", :width => "186"}/
            .item-box__title
              %p ナイキ靴わーいわーいあああああああああああああああああああああ
              .gradient
      %li
        .item-box
          %a(href="#")
            .item-box__img
              %span
                ¥1,000
              %img{:src => "https://static.mercdn.net/item/detail/orig/photos/m85044937589_1.jpg?1573355769", :width => "186"}/
            .item-box__title
              %p ナイキ靴わーいわーいあああああああああああああああああああああ
              .gradient
      %li
        .item-box
          %a(href="#")
            .item-box__img
              %span
                ¥1,000
              %img{:src => "https://static.mercdn.net/item/detail/orig/photos/m59557378877_1.jpg?1546171455", :width => "186"}/
            .item-box__title
              %p ナイキ靴わーいわーいあああああああああああああああああああああ
              .gradient
      %li
        .item-box
          %a(href="#")
            .item-box__img
              %span
                ¥1,000
              %img{:src => "https://static.mercdn.net/item/detail/orig/photos/m84182968478_1.jpg?1574033959", :width => "186"}/
            .item-box__title
              %p ナイキ靴わーいわーいあああああああああああああああああああああ
              .gradient
      %li
        .item-box
          %a(href="#")
            .item-box__img
              %span
                ¥1,000
              %img{:src => "https://static.mercdn.net/item/detail/orig/photos/m66387185356_1.jpg?1573989081", :width => "186"}/
            .item-box__title
              %p ナイキ靴わーいわーいあああああああああああああああああああああ
              .gradient
      %li
        .item-box
          %a(href="#")
            .item-box__img
              %span
                ¥1,000
              %img{:src => "https://static.mercdn.net/item/detail/orig/photos/m81771534578_1.jpg?1574471888", :width => "186"}/
            .item-box__title
              %p ナイキ靴わーいわーいあああああああああああああああああああああ
              .gradient
      %li
        .item-box
          %a(href="#")
            .item-box__img
              %span
                ¥1,000
              %img{:src => "https://static.mercdn.net/item/detail/orig/photos/m95100573867_1.jpg?1574500243", :width => "186"}/
            .item-box__title
              %p ナイキ靴わーいわーいあああああああああああああああああああああ
              .gradient
  

= render 'shared/exhibit_btn'

= render 'shared/top_footer'
