.toppage-header
  .toppage-header__container
    .toppage-header__container--ue
      .toppage-header__container--ue__logo
        %a(href="#")
          %img(src="https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg" alt="mercari" class="top__logo--img")/
      .toppage-header__container--ue__search
        %form(action="#")
          %input(type="text" placeholder="何かお探しですか？")/
          %i.fas.fa-search
            
    .toppage-header__container--shita
      .toppage-header__container--shita__left
        .toppage-header__container--shita__left--category
          %a(href="#")
            %i.fas.fa-bars
            カテゴリーから探す
        .toppage-header__container--shita__left--brand
          %a(href="#")
            %i.fas.fa-tags
            ブランドから探す
      %ul.toppage-header__container--shita__right
        %li.toppage-header__container--shita__right--like
          %a(href="#")
            %i.fas.fa-heart
            いいね！一覧
        %li.toppage-header__container--shita__right--Notice
          %a(href="#")
            %i.fas.fa-bell
            お知らせ
        %li.toppage-header__container--shita__right--mylist
          %a(href="#")
            %i.fas.fa-check
            やることリスト
        %li.toppage-header__container--shita__right--mypage
          %a(href="#")
            %img(src="https://static.mercdn.net/thumb/members/629605614.jpg?1413174838" alt="myimage")/
            %p マイページ

//------------------------------------------------------------
//||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||

.body-campaign
  .slick
    %a(href="https://jp-news.mercari.com/2019/11/15/free-campaign2/")
      %img{:src => "https://i.gyazo.com/1ce682e7bf3dd7981de21c9d318130c4.jpg", :width => "1440"}/
    %a(href="https://www.mercari.com/jp/featured/camp/")
      %img{:src => "https://i.gyazo.com/5f02d2c7e47358dbd19ec4a5ee8af672.jpg", :width => "1440"}/
    %a(href="https://apps.apple.com/jp/app/id667861049?l=ja")
      %img{:src => "https://i.gyazo.com/79b3da6d5fac946fbc7cd734066c75c2.jpg", :width => "1440"}/
