= render 'shared/top_header'
%main.container.clearfix
  = render 'shared/side_bar'
  .l-container
    .main__content
      %section.chapter__container
        %h2.chapter__head 支払い方法
        .payment__mainbox
          .payment__main
            .payment__list
              .payment__list__content
                %h3.sub__head クレジットカード一覧
            .add__card
              .payment__list__content
                = link_to new_card_path(current_user), class: "red__btn", data: {"turbolinks" => false} do
                  %i.fab.fa-cc-apple-pay.fa-2x
                  クレジットカードを追加する
            .payment--description
              %a(href="")
                %span 支払い方法について
                %i.fa.fa-angle-double-right

= render 'shared/top_footer'