
select{
  width: 100%;
  height: 48px;
  font-size: 16px;
  font-weight: normal;
  padding: 10px 16px 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
input[type="text"]:focus{
  outline: 0;
  border-color: rgb(17,133,226);
}
input[type="text"]:focus{
  outline: 0;
  border-color: rgb(17,133,226);
}
textarea:focus{
  outline: 0;
  border-color: rgb(17,133,226);
}

@mixin label() {
  font-size: 14px;
  font-weight: bold;
  span {
    color: white;
    font-size: 12px;
    background-color: #ea352d;
    padding: 3px 4px;
    border-radius: 2px;
  }
  p {
    font-size: 14px;
    margin-top: 6px;
    font-weight: normal;
  }
}
.exhibit{
  background-color: rgb(245, 245, 245);

  &__logo{
    height: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 185px;
    }
  }

  &__container{
    width: 700px;
    margin: 0 auto;
    color: #333333;
    &--form{
      width: 100%;
      background-color: #fff;
      border-bottom: solid 0.5px #EEEEEE;
      padding: 40px;
      h3 {
        color: #888888;
        font-size: 14px;
        float: left;
      }
      //コンテナの名前------------------
      &__head{
        font-size: 22px;
        font-weight: bold;
        text-align: center;
      }
      //画像選択-----------------------
      &__image{
        #output {
          height: 100px;
          width: 100px;
        }
        &--label{
          @include label();
          font-size: 16px;
        }
        &--input{
          margin-top: 16px;
          label {
            color: black;
            font-size: 14px;
            display: block;
            background-color: #eee;
            width: 100%;
            height: 162px;
            line-height: 162px;
            border: dashed 1px #ccc;
            text-align: center;
            cursor: pointer; 
          }
          input {
            display: none;
          }
          output{
            width: 100px;
            height: 100px;
          }
        }
      }
      //商品名-------------------------
      &__name{
        &--label{
          @include label();
        }
        &--input{
          margin-top: 8px;
          input {
            width: 100%;
            height: 48px;
            font-size: 16px;
            padding: 10px 16px 8px;
            border: 1px solid #ccc;
            border-radius: 8px;
          }
        }
      }
      //商品説明------------------------
      &__text{
        margin-top: 40px;
        &--label{
          @include label();
        }
        &--input{
          margin-top: 8px;
          textarea {
            width: 100%;
            height: 142px;
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ccc;
          }
          textarea:focus{
            outline: 0;
            border-color: rgb(17,133,226);
          }
        }
      }
      .right-box{
        width: 400px;
        margin-left: auto;
      }
      //カテゴリーと配送料の負担------------------------------
      &__category{
        &--label{
          @include label();
        }
        &--input{
          margin-top: 8px;
          input {
            width: 100%;
            height: 48px;
            font-size: 16px;
            padding: 10px 16px 8px;
            border: 1px solid #ccc;
            border-radius: 8px;
          }
        }
      }
      //商品の状態と発送元の地域、発送までの日数-----------------
      &__status{
        &--label{
          margin-top: 40px;
          @include label();
        }
        &--input{
          margin-top: 8px;
          input {
            width: 100%;
            height: 48px;
            font-size: 16px;
            padding: 10px 16px 8px;
            border: 1px solid #ccc;
            border-radius: 8px;
          }
        }
      }
      //販売価格--------------------------------------------
      &__price{
        .price{
          &-box{
            width: 400px;
            margin-left: auto;
          }
          //値段入力欄--------------------------------------
          &__input{
            font-size: 14px;
            font-weight: bold;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #ccc;
            padding-bottom: 24px;
            &--title{
              span {
                color: white;
                font-size: 12px;
                background-color: #ea352d;
                padding: 3px 4px;
                border-radius: 2px;
              }
            }
            &--yen{
              input{
                width: 160px;
                height: 48px;
                font-size: 16px;
                font-weight: normal;
                padding: 10px 16px 8px;
                border: 1px solid #ccc;
                border-radius: 8px;
                text-align: right;
              }
              input[type="text"]:focus{
                outline: 0;
                border-color: rgb(17,133,226);
              }
            }
          }
          //販売手数料---------------------------------------
          &__fee{
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #ccc;
            padding: 24px 0;
            font-size: 14px;
            .p{
              display: flex;
            }
          }
          //販売利益------------------------------------------
          &__profit{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 24px 0;
            font-size: 16px;
            font-weight: bold;
            .p{
              display: flex;
            }
            #pb{
              font-size: 30px;
            }
            #pp{
              font-size: 30px;
            }
          }
        }
      }
      &__submit{
        font-size: 14px;
        
        a{
          color: #0099e8;
        }
        input {
          color: white;
          width: 100%;
          height: 50px;
          font-size: 14px;
          border: none;
          background-color: #ea352d;
          margin-top: 40px;
          cursor: pointer;
        }
        .back{
          width: 279px;
          height: 50px;
          margin: 0 auto;
          text-align: center;
          line-height: 50px;
          margin-top: 24px;
          a{
            color: white;
            display: block;
            width: 100%;
            height: 100%;
            font-size: 14px;
            border: none;
            background-color: #aaaaaa;
          }
        }
      }
    }
  }
}
  //--------------------------------------------------------
  //フッター||||||||||||||||||||||||||||||||||||||||||||||||||
.exhibit{
  &__footer{
    &--kiyaku{
      &__list{
        display: flex;
        justify-content: space-around;
        width: 450px;
        margin: 35px auto 0;
        li{
          color: #333333;
          font-size: 12px;
        }
      }
    }
    &--logo{
      width: 80px;
      height: 65px;
      margin: 40px auto 5px;
    }
    &--copy{
      font-size: 13px;
      padding-bottom: 40px;
      text-align: center;
    }
  }
}